<div class="titulo">
  <h2>Lista cards</h2>
</div>
<div class="row ">
  <div class="col">
    <button class="btn btn-primary" [routerLink]="['/create']">Crear targeta de credito por id</button>
  </div>
</div>
<div class="container"
  *ngFor="let card of creditcards">
  <div class="row">
    <br>
    <div class="col-sm">
      <p> id: {{card.id}}</p>
    </div>
    <div class="col-sm">
      <p> name {{card.name}}</p>
    </div>
    <div class="col-sm">
      <p> money: {{card.money}}</p>
    </div>
    <div class="col-sm">
      <button class="btn btn-danger" (click)="deleteCreditCard(card.id)">Borrar</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-primary" (click)="goEditCreditCard(card.id)">Editar</button>
    </div>
  </div>
  <br>
  <br>
</div>
<br>
<br>
<br>